/* HEADER */

/* Nav-top */
.black_bar {
    height: 50px;
    line-height: 50px;
    background-color: black;
}
.black_bar img {
    width: 5rem;
    margin-right: 1rem;
}
/* Nav-bottom */

.nav-link img {
    width: 1rem;
}